/*
Aufgabe: 0 Arbeitsfähigkeit herstellen
Name: Jana Burger
Matrikel: 255076
Datum: 16.03.17
    
Hiermit versichere ich, dass ich diesen Code selbst geschrieben habe. 
Er wurde nicht kopiert und auch nicht diktiert.
*/

body{
	text-align: center;
	color: blue;
	font-size: 3em;
	margin-top:3em;
}